@import '../../styles/main.scss';


.navigation {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     &_list {
          display: flex;
          gap: 50px;
          font-size: 20px;
          font-weight: 500;
          @media screen and (max-width: 768px) {
               gap: 20px;
               font-size: 16px;
          }
     }
}

a.active {
     text-decoration: underline solid $color-secondary;
}

a:visited {
     text-decoration: none;
}